body{
	font-size: 0;
	margin: 0;
	width: 1182px;
	margin: 0 auto;
}
p,h1,h2,h3,h4,h5{
	margin: 0;
}

a{
	text-decoration: none;
}
ul{
	padding: 0;
	list-style: none;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.topNav{
	float: right;
	margin-right: 10px;
}
.topNav #login,
.topNav #regsiter{
	text-indent: 1em;
	font:bold 12px/16px "微软雅黑";
	color: #646468;
	border-right:1px solid #f2f2f2;
    display: inline-block;
    padding-right: 10px;
}
.topNav .icon{
	padding-left: 12px;
	display: inline-block;
	padding-right: 10px;
}
.topNav .msg{
	text-indent: 1em;
	color: #646468;
	font:bold 12px/16px "微软雅黑";
	border-left:1px solid #f2f2f2;
    display: inline-block;
}
.subNav .logo{
	padding-top: 30px;
	margin-right: 14px;
	display: inline-block;
	float:left;
}
.subNav p{
	font:14px/22px "微软雅黑";
	color:#555555;
	word-spacing: 7px;
	margin-bottom: 6px;
	padding-top: 20px;
	margin-top: 2px;
}
.subNav p span{
	font-weight: bold;
}
.subNav #search{
	width: 453px;
	height: 26px;
	vertical-align: top;
}
.subNav #btn01{
	width: 98px;
	height: 32px;
	font-size: 16px;
}
.subNav a{
	font-size: 14px;
	margin-left: 14px;
	color:#3c7ce0;
	text-decoration: underline;
}
.mainNav{
	background: #2db354;
	height: 40px;
	margin-top: 18px;
	font:bold 16px/40px "微软雅黑";
	color: white;
}
.column01, .column02, .column03, .column04, .column05, .column06{
	display: inline-block;
	width: 175px;
	text-indent: 71px;
	border-left: 1px solid #09a800;
}
.column01{
	color:#c6fa64;
	border:none;
}
.column06{
	width: 165px;
	font-size:14px;
	text-indent: 97px;
	background: url(../images/ico_02.gif) no-repeat 75px 11px;
}
.column07{
	font-size:14px;
	display: inline-block;
	text-indent: 26px;
	background: url(../images/ico_03.gif) no-repeat 3px 12px;
}
.main{
	height: 400px;
	background: #efecda url(../images/banner.jpg) no-repeat;
	position: relative;
}
.left{
	overflow: hidden;
	display: inline-block;
}
.main .title{
	width: 503px;
	text-indent: 8px;
	background: #000000;
	opacity: 0.5;
	margin-top: 220px;
}
.main .title h1{
	font: bold 30px/41px "微软雅黑";
	color: white;
	margin: 0;
}
.title p{
	font: bold 12px/16px "微软雅黑";
	color: white;
	padding-bottom: 7px;
	margin: 0;
}
.main .dd{
	overflow: hidden;
	margin-top:18px;
}
.main .bg{
	display: inline-block;
	width: 236px;
	height: 83px;
	background: #fff;
	opacity: 0.9;
	margin-right: 18px;
}
.main .bg img{
	padding: 7px;
} 
.main .bg p{
	position: relative;
	bottom: 24px;
	display: inline-block;
	width: 120px;
	font:14px/23px "微软雅黑";
	color: #000000;
}
.main .right{
	width: 270px;
	height: 360px;
	background: #FFFFFF;
	opacity: 0.9;
	display: inline-block;
	position: absolute;
	right: 2px;
	top: 20px;
}
.main .r-title{
	width: 230px;
	height: 38px;
	border-bottom: 1px dashed #bfbfbd;
	margin-left: 20px;
	font: bold 16px/38px "微软雅黑";
	background: url(../images/ico_04.gif) no-repeat 216px 12px;
}
.main .right .note{
	height: 77px;
	font: bold 24px/39px "微软雅黑";
	color: #42c166;
	margin-left: 17px;
	margin-top: 44px;
	background: url(../images/know_bg.gif) no-repeat 182px 0;
}
.main .right p{
	font-size: 12px;
	margin: 42px 0 23px 28px;
}
.main .right span{
	font-size: 24px;
	font-weight: bold;
	color: #e96c29;
}
.main .right a{
	font: 12px/23px "微软雅黑";
	color: #787878;
	margin-left: 111px;
	text-decoration: underline;
}
.main .right .r-footer{
	margin-top: 30px;
	background: #59cd78;
	font: bold 16px/66px "微软雅黑";
	color: white;
}
.main .right .que{
	text-indent: 45px;
	display: inline-block;
	background: url(../images/ico_05.gif) no-repeat 27px 25px;
}
.main .right .ans{
	text-indent: 68px;
	display: inline-block;
	background: url(../images/ico_06.gif) no-repeat 45px 25px;
}


#content-1{
	margin: 50px 0;
}
#content-1 .heat{
	width: 350px;
	padding: 10px 13px 7px 13px;
	background: #f8f8f8;
	float:left;
}
#content-1 .heat .img{
	margin: 10px 0;
	position: relative;
}
#content-1 .heat .img .title{
	position: absolute;
	left:0;
	bottom: 0;
	display: inline-block;
	width: 100%;
	font: 14px/38px "微软雅黑";
	text-align: center;
	color:#FFFFFF;
	background: rgba(0,0,0,0.5);
}
#content-1 .heat li{
	font:14px/32px "微软雅黑";
	padding-left: 23px;
	background: url(../images/ico_07.gif) no-repeat 7px 15px;
}
#content-1 .heat li a{
	color: #585858;
}

#content-1 .hot{
	width: 442px;
	margin: 0 40px;
	float: left;
}
#content-1 .hot h4{
	font: 18px/24px "微软雅黑";
	color: #070000;
}
#content-1 .hot .img{
	margin: 18px 0 20px 0;
}
#content-1 .hot .img img{
	float: left;
	margin-right: 14px;
}
#content-1 .hot .img h5{
	font: 18px/27px "微软雅黑";
	padding-left: 2px;
}
#content-1 .hot .img h5 a{
	color: #000605;
}
#content-1 .hot .img p{
	margin-top: 4px;
	font: 12px/20px "微软雅黑";
	color: #7d8c85;
}
#content-1 .hot ul li{
	font: 14px/36px "微软雅黑";
	padding-left: 17px;
	background: url(../images/ico_07.gif) no-repeat 0 17px;

}
#content-1 .hot ul li a{
	color: #635a55;
}
#content-1 .public{
	width: 282px;
	float: right;
}
#content-1 .public h4{
	font: 18px/22px "微软雅黑";
	color: #070000;
}
#content-1 .public ul{
	margin: 12px 0 10px 0;
}
#content-1 .public li{
	font: 14px/32px "微软雅黑";
	padding-left: 20px;
	background: url(../images/ico_07.gif) no-repeat 2px 14px;
}
#content-1 .public li a{
	color: #343633;
}
#content-1 .public .shopTitle{
	font: 18px/44px "微软雅黑";
	color: #070000;
}
#content-1 .public img{
	border: 1px solid #e5e5e5;
}


#content-2 .ask{
	width: 376px;
	float: left;
}
#content-2 .ask .title{
	margin-bottom: 32px;
}
#content-2 .ask .title h3{
	font: 18px/28px "微软雅黑";
	color: #080000;
	display: inline-block;
	vertical-align: middle;
}
#content-2 .ask .title strong{
	font: 12px/20px "微软雅黑";
	color: #45b54b;
	border:1px solid #eaeaea;
	border-radius: 4px;
	vertical-align: middle;
	display: inline-block;
	margin: 0 8px;
	padding: 0 6px;
}
#content-2 .ask .title span{
	font: 12px/28px "微软雅黑";
	color: #899088;
	vertical-align: middle;
}
#content-2 .ask .box{
	border: 1px solid #e8e8e8;
}
#content-2 .ask .box .bTitle{
	padding: 0 10px;
}
#content-2 .ask .box .bTitle span{
	font: 14px/40px "微软雅黑";
	color: #000000;
	margin-right: 10px;
}
#content-2 .ask .box .bTitle a{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/ico_08.gif);
}
#content-2 .ask .box .bTitle strong{
	font: 12px/40px "微软雅黑";
	color: #ff5816;
	background: url(../images/ico_09.gif) no-repeat left;
	padding-left: 28px;
	float: right;
}
#content-2 .ask .box p{
	height: 136px;
	font: 14px/26px "微软雅黑";
	padding: 0 20px;
	display: table-cell;
	vertical-align: middle;
}
#content-2 .ask .box p a{
	color: #010000;
}
#content-2 .ask .box .btn{
	height: 62px;
	background: #f7f7f7;
	text-align: center;
}
#content-2 .ask .box .btn a{
	display: inline-block;
	width: 146px;
	font: 18px/40px "微软雅黑";
	color: white;
	background: #49ca6d;
	border-radius: 4px;
	margin-top: 11px;
}
#content-2 .list{
	float: left;
	margin: 0 40px;
	width: 442px;
}
#content-2 .list .more{
	font: 14px/26px "微软雅黑";
	text-align: right;
}
#content-2 .list .more a{
	color: #868c88;
}
#content-2 .list ul{
	background: url(../images/list_bg.gif) repeat-y 9px 0;
	padding-top: 17px;
}
#content-2 .list li{
	background: url(../images/ico_10.gif) no-repeat 4px 14px;
	padding-left: 26px;
}
#content-2 .list ul strong{
	display: inline-block;
	font: 12px/40px "微软雅黑";
	color: #979596;
	margin-right: 22px;
}
#content-2 .list ul div{
	width: 347px;
	font: 18px/40px "微软雅黑";
	display: inline-block;
	padding-bottom: 13px;
	border-bottom: 1px dotted #b9b9b9;
}
#content-2 .list li div a{
	color: #357bd1;
}
#content-2 .list li .noborder{
	padding-bottom: 6px;
	border: none;
}
#content-2 .img{
	/*float: right;*/
}
#content-2 .img img{
	display: block;
	border: 1px solid #e5e5e5;
}
#content-2 .img .marignBottom{
	margin-bottom: 10px;
}

#content-3{
	margin: 50px 0;
	padding: 19px 0 48px 0;
	background: #f3f3f3;
}
#content-3 .userImg h3{
	font: 18px/60px "微软雅黑";
	color: #000;
}
#content-3 .userImg li{
	border: 1px solid #eeecef;
	float: left;
	margin-right: 23px;
}
#content-3 .userImg .top{
	width: 270px;
	height: 268px;
	border-bottom: 1px solid #eeecef;
	padding-top: 36px;
}
#content-3 .userImg .first .top{
	background: url(../images/userbg_01.jpg) no-repeat;
}
#content-3 .userImg .top h4{
	font: bold 26px/37px "微软雅黑";
	color: #fff;
	text-align: center;
}
#content-3 .userImg .top p{
	font: 14px/25px "微软雅黑";
	color: #fff;
	padding: 0 50px;
	text-align: center;
}
#content-3 .userImg .top img{
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 20px auto 2px auto;
}
#content-3 .userImg .top a{
	font: 14px/39px "微软雅黑";
	color: #fff;
	display: block;
	text-align: center;
}
#content-3 .userImg .bottom{
	background: #fff;
	padding: 2px 0 20px 0;
}
#content-3 .userImg .bottom p{
	font: 14px/37px "微软雅黑";
	color: #665f66;
	text-align: center;
}
#content-3 .userImg .bottom p span{
	color: #ee5e0f;
}
#content-3 .userImg .bottom a{
	display: block;
	width: 122px;
	font: 14px/38px "微软雅黑";
	border: 1px solid #e1e1e1;
	color: #34b565;
	text-align: center;
	margin: 0 auto;
}

#content-3 .userImg .second .top{
	background: url(../images/userbg_02.jpg) no-repeat;
}

#content-3 .userImg .third .top{
	background: url(../images/userbg_03.jpg) no-repeat;
}


#content-3 .rank{
	width: 284px;
	float: right;
	margin: -38px 0;
	padding-left: 13px;
}
#content-3 .rank .title{
	margin-top: 6px;
}
#content-3 .rank .title h4{
	font: bold 20px/56px "微软雅黑";
	float: left;
}
#content-3 .rank .title div{
	float: right;
	margin-top: 17px;
}
#content-3 .rank .title div span{
	font: 14px/19px "微软雅黑";
	color: #858e89;
	padding: 0 8px 0 20px;
}
#content-3 .rank .title div .caina{
	color: #35bb4c;
	border-right: 1px solid #dbdce1;
	padding-right: 18px;
}

#content-3 .rank ul{
	background: url(../images/ol_bg.gif) no-repeat left;
}
#content-3 .rank li{
	font: 14px/34px "微软雅黑";	
}
#content-3 .rank li a{
	display: inline-block;
	color: #343542;
	width: 152px;
	padding-left: 32px;
}
#content-3 .rank li span{
	display: inline-block;
	width: 64px;
	color: #b5968b;
}
#content-3 .rank li .color{
	color: #3ccf8b;
}

#content-4{
	margin: 50px 0;
}
#content-4 .left{
	/*width: 542px;*/
	float: left;
}
#content-4 .left .title{
	height: 47px;
	margin-bottom: 7px;
}
#content-4 .left .title .tLeft{
	float: left;
	font: 14px/47px "微软雅黑";
	color: #a0889c;
}
#content-4 .left .title .tLeft h3{
	display: inline-block;
	font: 18px/47px "微软雅黑";
	color: #000;
}
#content-4 .left .title .tLeft span{
	font: 14px/18px "微软雅黑";
	color: #52b54b;
	display: inline-block;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	margin: 0 8px;
	padding: 0 5px;
}
#content-4 .left .title .tRight{
	float: right;
	padding-top: 13px;
}
#content-4 .left .title .tRight a{
	font: 14px/19px "微软雅黑";
	color: #93888e;
}
#content-4 .left .title .tRight .change{
	border-right: 1px solid #dadada;
	padding: 0 10px 0 18px;
	margin-right: 13px;
	background: url(../images/ico_08.gif) no-repeat left;
}
#content-4 .left li{
	float: left;
	border: 1px solid #e9e9e9;
	width: 248px;
}
#content-4 .left li p{
	height: 110px;
	font: 18px/28px "微软雅黑";
	padding: 0 20px;
	display: table-cell;
	vertical-align: middle;

}
#content-4 .left li p a{
	color: #333230;
}
#content-4 .left li div{
	text-align: center;
	padding: 37px 0 20px 0;
	background: #f5fff6 url(../images/photo_bg.gif) no-repeat top;
}
#content-4 .left li div .photo{
	width: 137px;
	height: 116px;
	margin: 0 auto;
	display: block;
	background: url(../images/photo_bg.png);
}
#content-4 .left li div .photo img{
	border-radius: 50%;
}
#content-4 .left li div .userName{
	display: block;
	margin-top: 11px;
	font: 18px/27px "微软雅黑";
	color: #3b3036;
}
#content-4 .left li div span{
	font: 14px/22px "微软雅黑";
	color: #58b76b;
}

#content-4 .right{
	float: right;
	width: 602px;
	padding-left: 12px;
}
#content-4 .right .title{
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 6px;
}
#content-4 .right .title h3{
	font: 18px/47px "微软雅黑";
	float: left;
}
#content-4 .right .title a{
	float: right;
	font: 12px/47px "微软雅黑";
	color: #8e8983;
}
#content-4 .right ul{
	background: url(../images/img_10.jpg) no-repeat right 42px;
}
#content-4 .right li{
	font: 14px/49px "微软雅黑";
	padding-left: 25px;
	background: url(../images/ico_07.gif) no-repeat 7px 21px;
}
#content-4 .right li a{
	color: #4f5f5c;
}


#bottomNav{
	border-top: 2px solid #dadada;
	height: 177px;
	position: relative;
	padding-top: 29px;
	margin-bottom: 42px;
}
#bottomNav .leftBtn,.rightBtn{
	width: 27px;
	height: 49px;
	position: absolute;
	top: 78px;
	cursor: pointer;
}
.leftBtn{
	background: url(../images/leftBtn_bg.gif);
	left: 25px;
}
.rightBtn{
	background: url(../images/rightBtn_bg.gif);
	right: 25px;
}
.classify{
	position: absolute;
	left: 117px;
}
.classify div{
	width: 188px;
	float: left;
	margin-right: 63px;
}
.classify div h3{
	font: 20px/57px "微软雅黑";
	color: #3b423b;
	padding-left: 71px;
	margin-bottom: 8px;
}
.classify div h3 a{
	color: #3b423b;
}

#bottomNav .bg1{
	background: url(../images/img_11.jpg) no-repeat;
}
#bottomNav .bg2{
	background: url(../images/img_12.jpg) no-repeat;
}
#bottomNav .bg3{
	background: url(../images/img_13.jpg) no-repeat;
}
#bottomNav .bg4{
	background: url(../images/img_14.jpg) no-repeat;
}
.classify div li{
	font: 14px/31px "微软雅黑";
	float: left;
	width: 94px;
}
.classify div li a{
	color: #34313c;
}

#guild{
	background: #f3f3f3;
	padding: 59px 0 45px 59px;
}
#guild div{
	width: 285px;
	height: 92px;
	margin-left: 70px;
	border-right: 1px solid #dadada;
	display: inline-block;
}
#guild .border{
	border-right: none;
}
#guild div h3{
	font: 26px/28px "微软雅黑";
	padding-left: 33px;
	margin-bottom: 10px;
}
#guild div h3 a{
	color: #7f8289;
}
#guild div .bg1{
	background: url(../images/ico_13.gif) no-repeat left;
}
#guild div .bg2{
	background: url(../images/ico_14.gif) no-repeat left;
}
#guild div .bg3{
	background: url(../images/ico_15.gif) no-repeat left;
}
#guild div li{
	font: 14px/28px "微软雅黑";
	width: 107px;
	float: left;
	text-align: left;
}
#guild div li a{
	color: #97989c;
}


footer{
	background: #e9e9e9;
	height: 64px;
	font: 12px/64px "微软雅黑";
	text-align: center;
}
footer a{
	color: #2b62b5;
	margin: 0 10px;
}